.App {
  text-align: center;
}

header {
  background-color: rgb(198, 174, 221);
}

.user, .movie {
  background-color: aquamarine;
  border: 1px solid;
  margin: 1rem auto;
}

.movie {
  background-color: rgb(242, 127, 255);
}